#Application configs
APP_ENV=development
APP_DEBUG=true
APP_URL=http://localhost
APP_KEY=FFjeij2jf9fjh2rhf290h9YFQ2Rsg4r29F9Goiwaf32iH33Uud
APP_WEBDIR=pubdir
APP_CHARSET=utf-8
APP_LANG=pt-br

#Database configs
DB_NAME=genniuz
DB_PREFIX=genn_
DB_HOST=localhost
DB_PORT=5432
DB_DRIVER=pgsql
DB_USER=root
DB_PASS=forge
DB_ENGINE=null
DB_SCHEMA=public

#Email configs
MAIL_DRIVER=smtp
MAIL_HOST=mailtrap.io
MAIL_PORT=2525
MAIL_USER=null
MAIL_PASS=null

#Cache config
CACHE_DRIVER=redis
CACHE_PREFIX=genn_
CACHE_CONN=default
CACHE_HOST=localhost
CACHE_PORT=6379
CACHE_PASS=null
