#Application files
system/plugins/
tmp/compileds/
Docs/private/
tests/local/
.appdata
logs/

#Composer files
vendor/
vendors/
composer.lock
composer.phar

#JavaScripts files
node_modules/
npm-debug.log

#IDEs files
nbproject/
.idea/


#SublimeText cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
