<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="false"
         bootstrap="tests/bootstrap.php">
    <testsuites>
        <testsuite name="Application Test Suite">
            <directory>tmp/framework/tests/backend/phpunit/</directory>
            <directory>tmp/framework/tests/backend/phpunit/resources/</directory>
            <directory>tmp/framework/tests/backend/phpunit/modules/</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory>app/</directory>
            <directory>resources/helpers/</directory>
            <exclude>app/http/routes.php</exclude>
        </whitelist>
    </filter>
</phpunit>
