<?php namespace \Config;

/**
* 
*/

use \System\DataLoader;
use \System\Interfaces\ConfigInterface;

class Database extends DataLoader implements ConfigInterface
{

    private static $conf = [
        /*
         ===========================================================================
         = Nome do Banco de Dados
         ===========================================================================
         = 
         */
        'name' => '',

        /*
         ===========================================================================
         = Prefixo para usar na criação das tabelas
         ===========================================================================
         = 
         */
        'prefix' => '',

        /*
         ===========================================================================
         = URL para Acesso ao Banco de Dados
         ===========================================================================
         = 
         */
        'host' => '',

        /*
         ===========================================================================
         = Porta de acesso ao Banco de Dados
         ===========================================================================
         = 
         */
        'port' => '',

        /*
         ===========================================================================
         = Driver do Banco de Dados a ser Utilizado
         ===========================================================================
         = 
         */
        'driver' => 'pdo_',

        /*
         ===========================================================================
         = Usuario Admin do Banco de Dados
         ===========================================================================
         = 
         */
        'username' => '',

        /*
         ===========================================================================
         = Senha do Usuario Admin
         ===========================================================================
         = 
         */
        'password' => '',
        
        /*
         ===========================================================================
         = Tipo de Retorno do PDO
         ===========================================================================
         = 
         */
        'fetch' => PDO::FETCH_CLASS,

        /*
         ===========================================================================
         = Fuso horário do Banco de Dados
         ===========================================================================
         = 
         */
        'charset' => 'utf-8',

        /*
         ===========================================================================
         = Engine de Armazenamento
         ===========================================================================
         = 
         */
        'engine' => null

    ];
    
    //Classe para acesso estático
    private function __construct()
    {}
    
    /**
     * Retorna as variaveis de ambiente do BD
     */
    public static function get($index)
    {
        return parent::loader($index, self::$conf);
    }

}