<?php namespace Config;

/**
* 
*/

require_once(__DIR__ . '/../system/interfaces/ConfigInterface.php');
//use System\Interfaces\ConfigInterface;

class Database implements ConfigInterface
{

    private static $conf = [
        /*
         ===========================================================================
         = Nome do Banco de Dados
         ===========================================================================
         = 
         */
        'name' => '',

        /*
         ===========================================================================
         = Prefixo para usar na criação das tabelas
         ===========================================================================
         = 
         */
        'prefix' => '',

        /*
         ===========================================================================
         = URL para Acesso ao Banco de Dados
         ===========================================================================
         = 
         */
        'host' => '',

        /*
         ===========================================================================
         = Porta de acesso ao Banco de Dados
         ===========================================================================
         = 
         */
        'port' => '',

        /*
         ===========================================================================
         = Driver do Banco de Dados a ser Utilizado
         ===========================================================================
         = 
         */
        'driver' => 'pdo_',

        /*
         ===========================================================================
         = Usuario Admin do Banco de Dados
         ===========================================================================
         = 
         */
        'username' => '',

        /*
         ===========================================================================
         = Senha do Usuario Admin
         ===========================================================================
         = 
         */
        'password' => '',
        
        /*
         ===========================================================================
         = Tipo de Retorno do PDO
         ===========================================================================
         = 
         */
        'fetch' => PDO::FETCH_CLASS,

        /*
         ===========================================================================
         = Fuso horário do Banco de Dados
         ===========================================================================
         = 
         */
        'charset' => 'utf-8',

        /*
         ===========================================================================
         = Engine de Armazenamento
         ===========================================================================
         = 
         */
        'engine' => ''

    ];
    
    //Acesso Estático
    private function __construct()
    {}
    
    /**
     * 
     */
    public static function get($index)
    {
        if((is_string($index)) && (array_key_exists($index, self::$conf))):
            return self::$conf[$index];
        endif;

        return null;
    }

}